<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Show</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class = "back">
            <a href="/shows">Go Back</a>
        </div>
        <div class="add">
            <h1 id="add_show">
                Add a Show
            </h1>
            <form action="/process_new_show" method="post">
                {% csrf_token %}
                <p>Title <input id ="name"  name="title" type="text"></p>
                <p>Netowrk <input id ="name"  name="network" type="text"></p>
                <p>Release Date <input id ="name"  name="release_date" type="date"></p>
                <p id = "desc" >Notes:</p> <textarea name="desc" cols="37" rows="10" type = "text"></textarea>
                <button type="submit">Add</button>
            </form>

        </div>

    </div>
</body>
</html>