<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Show</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="wrapper" id = "display">
        <div class = "back">
            <a href="/shows">Go Back</a>
        </div>
        <h1 id  ="show_head"> TV show {{this_show.id}}</h1>
        {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
            {% endfor %}
        </ul>
        {% endif %}
        <div id ="show">
            
            <p>Title: {{this_show.title}}</p>
            <p>Network: {{this_show.network.name}}</p>
            <p>Release Date: {{this_show.release_date}}</p>
            <p>Description:</p>
            <p>{{this_show.desc}}</p>
        </div>

        <p>Last Updated : {{this_show.updated_at}}</p>

        <p><a href="/edit/{{this_show.id}}">Edit</a> | <a href="/{{this_show.id}}/delete">Delete</a></p>

    </div>

</body>
</html>